.btn-close {
    align-self: flex-start;
}

.modal-body {
    //white-space: pre-line;
}

.event-details {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.event-details li {
    float: left;
    padding-right: 1rem;
}

p {
    //line-height: 60px;
}