<div class="container col col-lg-8">
	<h2>Foreningen af matematikere - Aarhus Universitet</h2>

	<p>Århus d. 24. februar 2015</p>

	<h3>Paragraf 1: Navn og Hjemsted</h3>

	<ol>
		<li>Foreningens navn er: Eulers Venner, foreningen
			af matematikere - Aarhus Universitet.</li>
		<li>Foreningens hjemsted er Aarhus Universitet.</li>
	</ol>

	<div class="comment">
		<h5>Kommentarer og forklaring til paragraf 1:</h5>
		<p>
			Det er ret nærliggende at begynde vedtægterne
			med oplysning om navnet, og samtidig nævne, hvor
			foreningens bopæl er. Hjemstedet er nemlig foreningens
			bopæl. Hjemstedet har betydning for 2 forhold:
		</p>

		<ul>
			<li>ved hvilken domstol eventuelle sager mod foreningen,
				kan indbringes</li>
			<li>tilskud efter fritidsloven kræver, at bopæl
				fremgår af vedtægterne.</li>
		</ul>

		<p>
			I øvrigt er oplysningerne nødvendige for optagelse i foreningsregistret.
			Det er frivilligt at blive optaget i foreningsregistret. Foreningen
			opnår eneret til benyttelse at foreningens navn, kendetegn og betegnelser
			ved optagelse i foreningsregistret.
		</p>
	</div>

	<h3>Paragraf 2: Formål</h3>
	<p>
		Foreningen har som formål at udbrede kendskabet til matematiske emner,
		og at knytte faglige og sociale kontakter mellem matematikere. Dette
		søges opnået ved:
	</p>

	<ol>
		<li>at arrangere foredrag, studieture og ekskursioner
			i indlandet, og studieture til udlandet,</li>

		<li>at arrangere andre faglige og sociale arrangementer.</li>
	</ol>

	<div class="comment">
		<h5>Kommentarer og forklaring til paragraf 2:</h5>
		<p>
			Formålet skal være nævnt i vedtægterne, hvis
			foreningen skal optages i foreningsregistret - se forklaring
			til paragraf 1. Formålet har betydning, hvis der opstår
			spørgsmål om, hvorvidt en person skal optages eller
			ekskluderes. Dertil kommer, at personer, som ønsker
			optagelse, kan se, om foreningen er noget for dem eller
			lever op til formålet.
		</p>

		<p>
			Formålsparagraffen afgrænser desuden, hvad foreningen
			kan foretage sig og beskriver eventuelt hvad den skal
			foretage sig. De opremsede aktiviteter er dem, der danner
			rygraden i foreningens aktiviteter efter første år.
			Der kræves dog intet bestemt af bestyrelsen, ligesom
			pkt. b. åbner op for nye ideer.
		</p>
	</div>

	<h3>Paragraf 3: Medlemmer</h3>
	<ol>
		<li>Enhver der kan tilslutte sig foreningens formålsparagraf
			kan blive medlem. Tvivlsspørgsmål afgøres af bestyrelsen.</li>

		<li>Medlemmer, der modarbejder foreningens formål, kan ekskluderes.
			Dette sker ved ensstemmig beslutning i bestyrelsen.</li>
		<li>Bestyrelsens afgørelser efter stk. 1 og 2 kan af ethvert
			medlem ankes til generalforsamlingen som træffer den endelige
			beslutning. En sådan anke rettes til bestyrelsen, som er ansvarlig
			for sagens videre behandling.</li>
		<li>Medlemskab tegnes skriftligt overfor bestyrelsen samtidig
			med indbetaling af kontingent.</li>
		<li>Kontingentet fastsættes på generalforsamlingen.</li>

		<li>Kontingentet betales forud for et helt år eller et halvt år
			ad gangen. Et helt år går fra 1/1 til 31/12 og et halvt år
			enten 1/1 - 30/6 eller 1/7 - 31/12.</li>
		<li>Undlader et medlem at forny kontingentet inden 14 dage efter
			udløbet bortfalder medlemskabet automatisk.</li>
		<li>Et medlemskab kan til enhver tid opsiges skriftligt overfor
			bestyrelsen. Det medfører dog ingen ret til refusion af indbetalt
			kontingent. Kontingentet betales til udmeldelsesdatoen, ellers er
			udmeldelsen ugyldig.</li>
	</ol>

	<div class="comment">
		<h5>Kommentarer og forklaring til paragraf 3:</h5>
		<p>
			Paragraffen falder naturligt i fem dele: stk. 1 om hvem der kan blive
			medlem, stk. 2, 3 om eksklusion, stk. 4,6 om hvordan man bliver medlem og
			stk. 7,8 hvordan man udmelder sig. Endelig er stk. 5 om fastsættelse
			af kontingentet.
		</p>
		<p>
			Hvem kan blive medlem? Som supplement til formålsbeskrivelsen bør der
			være et punkt, der angiver hvem der kan optages i foreningen. Et sådant
			punkt kan afklare tvivl og hjælper en forening i tilfælde af en retssag
			om optagelse.
			<!-- Ved foreningens stiftelse blev det fastlagt, at man som medlemmer ville
			optage: 2. dels matematik studerende, l&aelig;rerne ved matematik, kandidater
			med matematik som hovedfag og studerende ved matematik-linierne (specielt
			2. og 3. &aring;r). Desuden skal der selvf&oslash;lgelig v&aelig;re plads til enkelte,
			der falder udenfor disse rammer, men som alligevel er interesserede.
			Formuleringen "tilknytning til matematik-studiet" er bredere end den
			prim&aelig;re m&aring;lgruppe, men bestyrelsen afg&oslash;r tvivlssp&oslash;rgsm&aring;l.-->
		</p>

		<p>
			Eksklusion: Ved at nedfælde eksklusionsbestemmelserne kan man undgå
			misforståelser. Eksklusion kan ske i henhold til vedtægterne, hvis disse
			indeholder regler om eksklusion.
		</p>
		<p>
			Det er altså her en enig bestyrelse, der alene kan ekskludere medlemmer,
			som modarbejder foreningens formål, men det bør nævnes, at handlingen
			skal være af væsentlig betydning for foreningens arbejde, før eksklusion
			kan finde sted (ifølge gældende retspraksis). Kritik af en vis loyal karakter
			kan finde sted i enhver forening. Beslutningen kan ankes til
			generalforsamlingen, hvilket sikrer medlemmerne mod bestyrelsestyranni, og
			en sådan mulighed er kotume, også selv om det ikke står direkte i
			vedtægterne. Angående eksklusion som følge af manglende kontingentbetaling,
			se næste afsnit.
		</p>

		<p>
			Hvordan bliver man medlem? Den skriftlige indmeldelelse (som f.eks. dækker
			betaling på giro, eller udfyldelse af et medlemskort) udelukker
			enhver tvivl om, hvem der er medlem. Det bør også fremgå af vedtægterne,
			hvornår kontingentet skal betales (stk. 6). Dette punkt skal være klart
			formuleret for at have et ordentligt grundlag for udelukkelse af folk med
			restancer, dvs. folk der burde have betalt kontingent forlængst.
		</p>

		<p>
			Stk. 7. Medlemmer ekskluderes, hvis kontingentet ikke bliver betalt
			senest 14 dage efter udløbet. Bestyrelsen udarbejder en kotume for hvor
			mange rykkere on henvendelser, den vil udsende indenfor de 14 dage.
		</p>

		<p>
			Er der ingen regel må bestyrelsen selv udarbejde en kotume for, hvornår
			den anser folk for ekskluderet pga. manglende kontingentbetaling.
			Naturligvis er det rimeligt med en vis frist. Kontingentrestancer <b>kan</b>
			kræves betalt. I værste fald må en forening lade restancer gå til
			inkasso gennem en advokat. I praksis sletter nogle foreninger automatisk
			medlemmer i restance efter en vis tid med eftergivelse af restancerne.
		</p>

		<p>
			Stk. 8 angiver, hvordan et medlem kan udmelde sig frivilligt. Ordlyden
			sikrer mod misforståelser, og betales kontingentrestancer ikke ved
			forsøg på udmeldelse, kan foreningen nægte at godkende udmeldelsen,
			idet medlemmet så fortsat må betale kontingent.
		</p>

		<p>
			Stk. 5 er vigtig. Faktisk hele foreningens økonomi drejer sig herom. De
			store indtægter kommer her, hvorfor det er vitalt, at medlemmerne hvert
			år skal tage stilling til, hvorvidt de mener, at budgettet kan holde med
			disse indtægter. Den er der også for at forhindre, at en bestyrelse
			bliver pengepuger og sætter for høje kontingenter, hvis der ikke er
			behov for det.
		</p>
	</div>

	<h3>Paragraf 4: Generalforsamlingen</h3>
	<ol>
		<li>Generalforsamlingen er foreningens øverste
			besluttende myndighed.</li>

		<li>Ordinær generalforsamling afholdes hvert år
			i februar måned og indkaldes med mindst 3 ugers
			varsel. Indkaldelse sker ved opslag på Institut for Matematiske Fag, Aarhus Universitet.</li>
		<li>Generalforsamlingens dagsorden skal indeholde mindst
			følgende punkter:
			<ol>
				<li>Valg af dirigent og referent.</li>
				<li>Valg af stemmetællere.</li>

				<li>Bestyrelsen aflægger beretning.</li>
				<li>Fremlæggelse af det reviderede regnskab
					og forslag til budget.</li>
				<li>Fastlæggelse af kontingent.</li>
				<li>Indkomne forslag.</li>
				<li>Ideer til de kommende års arrangementer og diskussion heraf.</li>

				<li>Valg af bestyrelsen.</li>
				<li>Valg af revisor og revisorsuppleant.</li>
				<li>Eventuelt.</li>
			</ol></li>
		<li>Forslag, som ønskes behandlet på generalforsamlingen, sendes til
			bestyrelsen senest 8 dage før og den endelige dagsorden opslås
			på Institut for Matematiske Fag, Aarhus Universitet senest 3 dage før
			den varslede dato for generalforsamlingen.</li>

		<li>Beslutninger på generalforsamlingen træffes ved afstemning.
			Afstemningen sker normalt ved håndsoprækning medmindre 1/4 af de
			fremmødte medlemmer går ind for skriftlig afstemning.</li>
		<li>Ethvert fremmødt medlem har stemmeret på generalforsamlingen.</li>
		<li>Der anvendes simpelt flertal ved enhver afstemning på
			generalforsamlingen bortset fra afstemninger om foreningens ophør
			og vedtægtsændringer.</li>

		<li>Vedtægtsændringer kræver 2/3 flertal af de afgivne stemmer.</li>
	</ol>

	<div class="comment">
		<h5>Kommentarer og forklaring til paragraf 4:</h5>
		<p>
			At generalforsamlingen er foreningens øverste myndighed er også tilfældet,
			selv om det ikke står i vedtægterne. Ved at møde frem ved generalforsamlingen
			udøver medlemmerne den ret, de har til at bestemme hvad der skal ske i
			foreningen. Generalforsamlingen er medlemmernes. Bestyrelsen er denne dag
			kun almindelige medlemmer. Det er medlemmerne, der skal udfolde sig og
			ikke bestyrelsen, der skal dominere.
		</p>

		<p>
			Ordinær generalforsamling er den årlige generalforsamling. Vedtægterne
			bør fastslå, indenfor hvilket tidsrum den ordinære generalforsamling
			skal afholdes, indkaldelsesvarsel, hvorledes indkaldelse sker, dagsordenspunkter
			som <b>skal</b> med, regler for indkomne medlemsforslag og
			afstemningsregler. Bemærk, at under dagsordenspunktet "eventuelt" kan
			der <b>ikke</b> foretages afstemninger!
		</p>

		<p>
			Generalforsamlingen er lagt i februar, da medlemmerne formodes at være
			mest oplagte i starten af et semester. Desuden passer det godt sammen med,
			at regnskabet opgjort pr. 1/1 kan fremlægges.

		</p>
		<p>
			Angående stk. 6 skal det forhindre, at folk straks får indflydelse
			ved indmeldelsen og kan gå ind og dominere foreningen.
		</p>

		<p>
			Stk. 7: Simpelt flertal betyder, at halvdelen af de afgivne stemmer skal
			være for forslaget for at det er vedtaget. Ved stemmelighed bortfalder
			forslaget. Personvalg bør altid være skriftlige og ved stemmelighed
			trækkes der lod (angående stemmereglen til bestyrelses valget: se
			kommentaren til paragraf 6). Stemmeafgivelse pr. fuldmagt formodes ikke
			at kunne ske, medmindre det klart fremgår af vedtægterne. I ideelle
			foreninger er det rimeligt, at medlemmerne møder personligt op. Står
			der ikke noget om afstemningsproceduren gælder simpelt flertal normalt.
		</p>

		<p>
			Vedtægtsændringer skal være forholdsvis vanskelige af hensyn til
			stabiliteten i foreningen. Dog må ændringer ikke være så vanskelige
			at foreningen stivner. 2/3 flertal af afgivne stemmer er ret udbredt.
		</p>
	</div>

	<h3>Paragraf 5: Ekstraordinær Generalforsamling</h3>
	<ol>
		<li>Bestyrelsen indkalder til ekstraordinær generalforsamling,
			når mindst 2 bestyrelsesmedlemmer eller 1/4 af samtlige
			medlemmer kræver dette skriftligt med angivelse af
			punkter til behandling.</li>

		<li>Ekstraordinær generalforsamling afholdes senest 4 uger efter,
			at kravet er rejst overfor bestyrelsen.</li>
		<li>Ekstraordinær generalforsamling indkaldes til alle
			medlemmer med mindst 14 dages varsel. Indkaldelse sker ved
			email til alle medlemmer samt opslag på Institut for Matematiske Fag, Aarhus Universitet med angivelse
			af dagsordenen.</li>
	</ol>

	<div class="comment">
		<h5>Kommentarer og forklaring til paragraf 5:</h5>
		<p>
			Den ekstraordinære generalforsamling er afgjort en
			mindretalsbeskyttelse (både blandt medlemmerne og i bestyrelsen), hvorfor
			det er vigtigt at vedtægterne tillader et mindretal at indkalde.
			Det er standard, at der skal være en motiveret dagsorden. Ellers
			omfattes den ekstraordinære generalforsamling af lignende regler
			som den ordinære.
		</p>
	</div>

	<h3>Paragraf 6: Bestyrelsen</h3>
	<ol>
		<li>Bestyrelsen består af 5 medlemmer. Hvert bestyrelsesmedlem
			er valgt for 2 år ad gangen. I lige år er 2 bestyrelsesmedlemmer
			på valg og i ulige år er de øvrige 3 bestyrelsesmedlemmer
			på valg. Der nyvælges hvert år op til 3 suppleanter.</li>

		<li>Valget til bestyrelsen foregår ved drøftelse. Såfremt der opnås fuld enighed omkring valg af bestyrelsen, så er de valgt. Hvis der ikke ved
			drøftelse opnås fuld enighed indenfor 15 minutter, skal valget foretages ved skriftlig afstemning.
			I så fald foregår valget ved prioritetsmetoden. De 3 kandidater, der får
			flest stemmer uden at opnå valg er suppleanterne ordnet efter
			deres stemmetal.</li>
		<li>Hvis et bestyrelsesmedlem udtræder i valgperioden, indtræder
			suppleanten med det højeste stemmetal. Suppleanten følger pladsens
			valgperiode. Opbruges suppleanterne supplerer bestyrelsen sig selv
			blandt medlemmerne indtil næste generalforsamling.</li>
		<li>Bestyrelsen konstituerer sig selv senest 14 dage efter generalforsamlingen.</li>

		<li>Bestyrelsen vælger blandt bestyrelsesmedlemmerne en kasserer. </li>
		<li>Kassereren varetager og er ansvarlig for bogføringen,
			udarbejdelse af årsregnskab og budget.</li>
		<li>Bestyrelse vælger blandt bestyrelsesmedlemmerne en formand.</li>
		<li>Suppleanterne kan og bør deltage i bestyrelsesmøderne.</li>

		<li>Bestyrelsen varetager foreningens daglige ledelse,
			og den laver selv sin forretningsorden. Formanden og kassereren
			tegner i fællesskab foreningen udadtil.</li>
		<li>Bestyrelsens beslutninger føres til referat. Bestyrelsen
			træffer sine afgørelser ved almindeligt stemmeflertal.
			Den er beslutningsdygtig, når mindst 3 er til stede.</li>
		<li>Foreningens regnsskabsår er kalenderåret.</li>
		<li>Revisoren udfører sædvanligt revisionsarbejde og forsyner
			det reviderede årsregnskab med sin påtegning. Revisoren
			og suppleanten vælges udenfor bestyrelsens kreds.</li>
		<li>Kassereren har til enhver tid lov til alene at disponere over foreningens
			konti og depoter via elektroniske bankprodukter samt at indgå aftaler herom.</li>
	</ol>

	<div class="comment">
		<h5>Kommentarer og forklaring til paragraf 6:</h5>
		<p>
			Den 2 årige valgperiode skal sikre kontinuitet i bestyrelsen.
			Et bestyrelsemedlem kan når som helst udtræde, hvis han/hun
			ønsker det. Bestyrelsesmedlemmerne skal alene varetage medlemmernes
			interesser kommer de i konflikt med egne interesser, må de af egen
			fri vilje afholde sig fra at stemme.
		</p>

		<p>
			Valgreglen skal sørge for at valget foregår så demokratisk som muligt.
			Prioritetsmetoden foregår på følgende måde: Alle fremmødte får udleveret
			en stemmeseddel hvorpå der er N (N er antallet der skal vælges)
			rubrikker, der er nummererede. Ud for hvert nummer skrives navnet på
			en kandidat, og navnene skrives i den rækkefølge kandidaterne ønskes
			valgt (prioritetsorden). Der <b>skal</b> skrives N navne, ellers er
			stemmesedlen ugyldig. Stemmeoptællingen foregår ved, at der for hver
			kandidat optælles 1.-stemmer, 2.-stemmer,...,N.-stemmer. Når dette
			er gjort findes antal gyldige stemmer ved at optælle alle kandidaters
			1.-stemmer og lægge eventuelle blanke til. Det gyldige stemmeantal
			divideres med antallet af poster N og resultatet rundes op til nærmeste
			hele tal, som er fordelingstallet. Dette bruges til fordeling af de N
			poster. Kandidater, som har opnået fordelingstallet med deres 1.-stemmer
			er umiddelbart valgt. Derefter kigges på summen af 1.- og 2.-stemmerne.
			Hvis denne sum er større end eller lig fordelingstallet er disse også
			valgt. Dernæst kigges på summen af 1.-, 2.- og 3.-stemmerne osv.
			Står to kandidater lige ses på på stemmer af lavere prioritet, som
			afgør rækkefølgen. Med den nævnte metode gives der bedre mulighed
			for, at et mindretal af medlemmerne repræsenteres i bestyrelsen end
			ved mange andre.
		</p>

		<p>
			Stk. 3. Suppleanter indtræder, når bestyrelsesmedlemmer udtræder.
			Den ekstra tilføjelse med selvsupplering i tilfælde af, at suppleanterne
			opbruges er for at forhindre indkaldelse af ekstraordinær
			generalforsamling alene for at få valgt en ny bestyrelse.
		</p>

		<p>
			Stk. 4. At bestyrelsen konstituerer sig selv betyder, at det er bestyrelsen
			der vælger kasserer og formand. Den beslutter endvidere om der skal være
			andre poster.
		</p>

		<p>
			Stk. 8. Der må forventes en del brug af suppleanter og det er derfor bedst,
			at de har indblik i bestyrelsens arbejde, når de træder ind. Det gør
			det nemmest for alle.
		</p>

		<p>
			Stk. 9. At bestyrelsen udarbejder sin egen forretningsorden betyder, at den
			laver sine egne arbejdsregler. De skal narurligvis være udarbejdede under
			hensyntagen til vedtægternes bestemmelser. Forretningsordenen bør mindst
			en gang årligt tages op til en kritisk revision, men den kan løbende
			ændres og tilpasses bestyrelsens ønsker og behov.
		</p>

		<p>
			De der tegner foreningen kan underskrive på foreningens vegne i
			økonomiske sammenhænge. Der kræves altså underskrift fra formand
			og kasserer.
		</p>

		<p>
			Stk. 10. Referater fra bestyrelsesmøderne kræves for at have noget skriftligt
			på de beslutninger bestyrelsen tager. I tilfælde af retssag står
			skriftligt materiale altid stærkere end mundligt.
		</p>

		<p>
			Stk. 11. Harmonerer godt med at generalforsamlingen ligger i februar.
		</p>

		<p>
			Stk. 13. Det er naturligvis farligt at lade kasseren håndtere alle pengene selv, men en indskærpelse af bankreglerne har gjort at kasseren ikke kan overtage bankkontoen, medmindre vi indgiver tilladelse til dette. Alternativet er at oprette en foreningskonto, hvilket kræver et CVR numer. Det er altså en opvejelse af sikkerhed mod administrativt overhead.
		</p>
	</div>

	<h3>Paragraf 7: Hæftelse</h3>
	<p>
		Foreningens medlemmer og bestyrelsesmedlemmer hæfter ikke personligt
		for de for foreningen indgåede forpligtelser, for hvilke alene
		foreningen hæfter med dens respektive formue.
	</p>

	<div class="comment">
		<h5>Kommentarer og forklaring til paragraf 7:</h5>
		<p>
			Hovedreglen er, at foreningen hæfter med hele sin formue
			for foreningens gæld. Kreditorerne kan altså kun sagsøge
			foreningen. For at undgå enhver tvivl bør foreningens vedtægter indeholde
			en bestemmelse om, at foreningsmedlemmer og bestyrelse ikke hæfter
			for foreningens gæld eller andre forpligtelser. Dog kan en bestyrelse
			komme til at hæfte, f.eks. hvis den har handlet mere uforsigtigt
			end normalt. Derimod hæfter medlemmerne af en kontingentforening (dvs.
			en forening hvor medlemmernes eneste forpligtigelse er at betale
			kontingent) ikke for noget som helst af foreningens gæld.
		</p>
	</div>

	<h3>Paragraf 8: Foreningens ophør</h3>

	<ol>
		<li>Beslutning om foreningens ophør kan træffes ved 2 på
			hinanden følgende generalforsamlinger. Den sidste
			generalforsamling skal indkaldes tidligst 1 måned
			og senest 2 måneder efter den første generalforsamling.
			På begge generalforsamlinger skal der være 2/3 flertal
			af de afgivne stemmer for foreningens ophør.</li>

		<li>I tilfælde af foreningens ophør har den siddende bestyrelse
			ansvaret for afviklingen af foreningens økonomi og aktiver.
			Bestyrelsen udarbejder det afsluttende regnskab og status.</li>
		<li>Ved foreningens ophør overdrages formue og andre aktiver
			til Svend Bundgaards Fond, Institut for Matematiske Fag, Aarhus Universitet.</li>
	</ol>

	<div class="comment">
		<h5>Kommentarer og forklaring til paragraf 8:</h5>
		<p>
			Opløsningen af foreningen skal være vanskelig. I vedtægterne
			bør stå, hvad en eventuel formue skal anvendes til. Står der
			intet bestemmes det på sidste generalforsamling. Foreningens
			medlemmer har ikke et krav på at få en andel af foreningsformuen,
			men kan kun fordele den til de ved opløsningen eksisterende
			medlemmer, hvis intet andet står i vedtægterne.
		</p>
	</div>

	<hr>

	<p>
		Disse vedtægter er vedtaget ved en urafstemning, der blev
		afsluttet mandag den 8. januar 1990. Paragraf 6 stk. 9 blev dog
		ændret på den ordinære generalforsamling onsdag den
		6. februar 1991. Vedtægterne blev ændret igen på den ordinære
		generalforsamling tirsdag den 23. februar 2010. Vedtægterne blev ændret på
		den ordinære generalforsamling tirsdag den 25. februar 2014. Sidste ændring af
		vedtægterne var på den ordinære den 24. februar 2015
		og ovenstånde er ordlyden af vedtægterne, der er gyldige fra denne
		dato.
	</p>
</div>
