<div class="container col col-lg-8">
	<ev-katex></ev-katex>

	<h2>Om foreningen</h2>
	<p>
		Eulers Venner er en studenterforening af matematikstuderende på Institut for
		Matematik, Aarhus Universitet.
	</p>

	<p>
		Vi holder diverse gratis arrangementer i løbet af hvert semester. Disse
		inkluderer spændende foredrag med diverse forelæsere 2-4 gange hvert semester.
		Til foredragene er der gratis kaffe, te og kage. Derudover holder vi hyggelige
		studie/snack-aftener, hvor man kan få hjælp til matematikken og få noget godt
		til ganen. Desuden fejrer vi årligt Eulers fødselsdag med foredrag, kage og
		andet sjov. Sidst har Eulers Venner også stået for studieture, cykelture og
		filmaftener. Til vores foredrag er der blandt andet blevet talt om:
	</p>
	<ul>
		<li>
			Riemann \(\zeta\)-funktionen, Riemann-hypotesen og relationen mellem
			\(\zeta\)-funktionen og primtallenes fordeling.
		</li>
		<li>
			Fraktaler, hvor uendelig et fraktals længde er og kystlinje-paradokset.
		</li>
		<li>
			Karrierermuligheder efter matematikuddannelsen, blandt andet med foredrag
			med en gymnasielærer og en forsker i energy-trading.
		</li>
	</ul>
	<p>
		Se alle vores arrangementer <a routerLink="/lectures">her</a>.
		Når et af vores arrangementer nærmer sig, kan man finde plakater rundt omkring
		på Matematisk Insitut. Derudover kan der også læses
		mere på vores
		<a href="{{path_facebook}}" target="_blank">facebook-side</a>.
	</p>

	<h4>Medlemskab</h4>
	<p>
		Kunne du tænke dig at støtte Eulers Venner? Så kan du få et medlemskab i foreningen.
		Medlemskaber koster 25 kr., og indtægterne går til vores udgifter i forbindelse med
		arrangementer. Derudover kan du også få Eulers Venner-t-shirts og -kaffekopper.
		Fang et af vores <a routerLink="/contact">bestyrelsesmedlemmer</a> til et
		af vores arrangementer, hvis du er interesseret.
	</p>
</div>
